@import './core/colors';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

div.row {
    background: $background;
    width: 100%;
    height: 100%;
    display: block;
    @for $i from 1 through 10 {
        div.column-#{$i} {
            width: 10% * $i;
            float: left;
        }
    }
}
