@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*{
    text-decoration: none;
    list-style: none;
    font-family: Open Sans;
}

body{
    margin: 0;
    padding: 0;
    background-color: #222222;
    overflow: hidden;
}

a, a:visited{
    color: #efefef;
    text-decoration: none;
}

#imgstry-logo{
    background-image: url(../resources/imgstryLogo.png);
    height: 120px;
    width: 120px;
    position: absolute;
    top: 40%;
    left: 40%;
    opacity: 0.9;
}

.tool-name{
    position: absolute;
    height: 23px;
    top: 11px;
    background-color: #e27a3f;
    color: #efefef;
    right: 25px;
    z-index: -1;
    width: 0;
    padding: 7px;
    overflow: hidden;
    transition: width ease-out 0.3s;
}

li:hover .tool-name{
    padding: 7px;
    width: 150px;
    transition: width ease-in 0.3s;
}

#working-canvas{
    top: -100%;
    opacity: 0;
}

.enter-stage{
    opacity: 1 !important;
    transition: ease-in 1s;
}

#right-pane{
    overflow: hidden;
}

#open-image{
    position: absolute;
    opacity: 0;
    z-index: 1000;
    left: 0px;
    height: 42px;
    top: 0;
    cursor: pointer;
    width: 40px;
}

#working-canvas{
    position: absolute;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.42);
    -moz-box-shadow:    1px 1px 4px 0px rgba(50, 50, 50, 0.42);
    box-shadow:         1px 1px 4px 0px rgba(50, 50, 50, 0.42);
}

#working-canvas-histogram{
    border: 2px solid #222222;
    width: 290px;
    height: 100px;
}

#toolbox{
    right: 0;
    width: 295px;
}

#toolbox-components{
    right: 315px;
    padding: 0 !important;
    -webkit-box-shadow: -17px 0px 28px -9px rgba(0,0,0,0.32);
    -moz-box-shadow: -17px 0px 28px -9px rgba(0,0,0,0.32);
    box-shadow: -17px 0px 28px -9px rgba(0,0,0,0.32);
}

ul  li {
    margin-top: -5px;
    height: 42px;
}

#toolbox-components .tool {
    padding: 10px;
}

#toolbox, #toolbox-components{
    position: absolute;
    height: 100%;
    padding: 10px;
    background-color: #333333;
    border-left: 2px solid #222222;
}

.tool{
    position: relative;
    width: 20px;
    height: 17px;
    color: #efefef;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
    transition: ease-out 0.3s;
    text-align: center;
}

.tool-active{
    background-color: #0074a3;
}

.tool:hover{
    background-color: #2ea1cd;
    transition: ease-in 0.3s;
}

#top-pane{
    display: none;
}

.track{
    text-align: center;
}

.track > label{
    text-align: left;
    display: block;
    color: #efefef;
    margin-left: 10px;
}

.value{
    font-family: Open Sans;
    color: #efefef;
    padding-bottom: 0;
    margin-top: 0;
    background-color: #222;
    width: 50px;
    margin-left: 125px;
    border: 1px solid #111;
}

label .fa-refresh{
    position:  absolute;
    right: 10px;
    top: 10px;
}

label .fa-refresh:hover{
    color: #FC4349;
    cursor: pointer;
}

label{
    position: relative;
}

/* CUSTOM INPUT RANGE */
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    /*required for proper track sizing in FF*/
    width: 280px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 280px;
    height: 3px;
    background: #808b8d;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #3598dc;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 280px;
    height: 3px;
    background: #808b8d;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #3598dc;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 280px;
    height: 3px;
    background: #808b8d;
    border: none;
    border-radius: 10px;
    /*remove default tick marks*/
    color: #3598dc;
}

input[type=range]::-ms-fill-lower {
    outline: none;
    background: #777;
    border-radius: 10px 0 0 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #3598dc;
}

input[type=range]:focus::-ms-track {
    background: #ccc;
}

input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
