@import '../core/colors';

div {
    &.canvas {
        height: 100%;
        display: inline-block;
    }

    &.panel {
        @include background-opacity($panel-overlay, .2);
        height: 100%;
        display: inline-block;
    }
}

mat-slider {
    width: calc(100% - 40px);
    margin: 0 20px;
}
